# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (secrets)
.env
instance/
config.json

# IDEs
.vscode/
.idea/

# OS temporary files
.DS_Store
Thumbs.db