# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (secrets)
.env
instance/

# Data Directory (Persistent)
data/*
!data/.gitkeep

# IDEs
.vscode/
.idea/

# OS temporary files
.DS_Store
Thumbs.db
